<launch>

    <node name="rl_controller" pkg="quad_controller_rl" type="rl_controller_node" output="screen" >
    	<rosparam command="load" file="$(find quad_controller_rl)/config/rl_controller_config.yaml" />
    </node>

    <node name="rqt_reconfigure" pkg="rqt_reconfigure" type="rqt_reconfigure" />

    <node name="drone_sim" pkg="quad_controller_rl" type="drone_sim" />

</launch>
